<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- SITE TITLE -->
	<title>A</title>
	<link rel="icon" href="../static/images/keeper.jpeg">


	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- STYLESHEET CSS FILES -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="../static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Helvetica&display=swap" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- newsletter section -->
<section id="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 text-left">
				<h2>Untitled</h2>
				<img src="../static/images/plaid.jpg" width="200" class="left"></img>
				<h5>Woolly Huesh.mp3</h5>
				<audio controls>
					<source src="../static/audio/woolly huesh.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>No lungs.mp3</h5>
				<audio controls>
					<source src="../static/audio/no lungs.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Roman Nose.mp3</h5>
				<audio controls>
					<source src="../static/audio/roman nose [demo].mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Pond.mp3</h5>
				<audio controls>
					<source src="../static/audio/Pondpondpond (2).mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Plumes.mp3</h5>
				<audio controls>
					<source src="../static/audio/plumes-demo.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>shimmering-wall.mp3</h5>
				<audio controls>
					<source src="../static/audio/shimmering-wall.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Franny and zooey theme.mp3</h5>
				<audio controls>
					<source src="../static/audio/fz_theme.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Low/Maybe.mp3</h5>
				<audio controls>
					<source src="../static/audio/Low - Maybe take.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>breathe.mp3</h5>
				<audio controls>
					<source src="../static/audio/breathe.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>ruby-beat.mp3</h5>
				<audio controls>
					<source src="../static/audio/rubybeat.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Goin' Down.mp3</h5>
				<audio controls>
					<source src="../static/audio/Goin’ Down.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<h5>Sunk (unwritten).mp3</h5>
				<audio controls>
					<source src="../static/audio/Sunk (unwritten) take.mp3" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio>
				<p><br></p>
			</div>
		</div>
	</div>
</section>	



<!-- JAVASCRIPT JS FILES -->	
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/isotope.js"></script>
<script src="../static/js/imagesloaded.min.js"></script>
<script src="../static/js/nivo-lightbox.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>
